T1 = (!B4 ∨ !B3 ∨ !B2 ∨ !B1 ∨ !B0) ∧ (!B4 ∨ !B3 ∨ !B2 ∨ B1 ∨ !B0) ∧ (!B4 ∨ !B3 ∨ B2 ∨ !B1 ∨ !B0) ∧ (!B4 ∨ B3 ∨ !B2 ∨ !B1 ∨ !B0) ∧ (B4 ∨ !B3)
T0 = (!B4 ∨ !B3 ∨ !B2 ∨ !B1 ∨ !B0) ∧ (!B4 ∨ !B3 ∨ !B2 ∨ B1 ∨ !B0) ∧ (!B4 ∨ !B3 ∨ B2 ∨ !B1 ∨ !B0) ∧ (!B4 ∨ B3 ∨ !B2 ∨ !B1 ∨ !B0) ∧ (!B4 ∨ !B3 ∨ !B2 ∨ !B1 ∨ B0) ∧ (B4 ∨ B3)
U3 = (!B4 ∨ !B3 ∨ !B2 ∨ !B1 ∨ !B0) ∧ (!B4 ∨ !B3 ∨ B2 ∨ !B1 ∨ !B0) ∧ (B4 ∨ !B3) ∧ (!B4 ∨ B3)
U2 = (!B4 ∨ !B3 ∨ !B2 ∨ !B1 ∨ !B0) ∧ (!B4 ∨ B3) ∧ (B4 ∨ !B3)
U1 = (!B4 ∨ !B3 ∨ !B2 ∨ !B1 ∨ B0) ∧ (!B4 ∨ B3) ∧ (B4 ∨ !B3)
U0 = (B4 ∨ !B3) ∧ (!B4 ∨ !B3 ∨ !B2 ∨ !B1 ∨ B0)